* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0AD6A0;
    --secondary-color: white;
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* color: var(--secondary-color); */
}


.container1 {
    display: flex;
    /* flex-direction: row; */
}

.container1 .number{
    margin: 0 10px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}

.container1 .number p {
    font-size: 200px;
    font-weight: 400;
    width: 200px;
}


.container2 {
    margin: 20px;
    display: flex;
}

.container2 button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 25px;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 10px 20px;
    width: 200px;
}

.container2 button:hover {
    background-color: black;
    color: var(--secondary-color);
    cursor: pointer;
    /* box-shadow: 0px 0px 10px 5px var(--secondary-color); */
}


@media (max-width: 1100px) {

    .container1 .number {
        font-size: 100px;
    }

    .container1 .number span {
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    body {
        flex-direction: column-reverse;
    }

    .container1 {
        flex-direction: column;
    }

    .container1 .number {
        margin: 10px;
        font-size: 80px;
    }

    .container2 button {
        font-size: 20px;
        padding: 5px;
        width: 150px;
        margin: 0px 5px;
    }

    .container2 {
        margin: 5px;
    }
}

@media (max-width:350px) {
    .container2 {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    .container2 button{
        margin: 5px;
    }
}